In [20]:
%pwd

'D:\\work\\jupyter\\jupyter\\minibook-2nd-code\\chapter2'

In [6]:
%cd minibook-2nd-code/chapter2/

[WinError 3] 지정된 경로를 찾을 수 없습니다: 'minibook-2nd-code/chapter2/'
D:\work\jupyter\jupyter\minibook-2nd-code\chapter2

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
data = pd.read_csv('data/nyc_data.csv', 
                  parse_dates = ['pickup_datetime',
                                 'dropoff_datetime'])
fare = pd.read_csv('data/nyc_fare.csv',
                  parse_dates = ['pickup_datetime'])

In [8]:
data[['trip_distance', 'trip_time_in_secs']].head(3)

   trip_distance  trip_time_in_secs
0           0.61                300
1           3.28                960
2           1.50                386

In [9]:
data.loc[0]

medallion             76942C3205E17D7E7FE5A9F709D16434
hack_license          25BA06A87905667AA1FE5990E33F0E2E
vendor_id                                          VTS
rate_code                                            1
store_and_fwd_flag                                 NaN
pickup_datetime                    2013-01-01 00:00:00
dropoff_datetime                   2013-01-01 00:05:00
passenger_count                                      3
trip_time_in_secs                                  300
trip_distance                                     0.61
pickup_longitude                              -73.9559
pickup_latitude                                40.7819
dropoff_longitude                             -73.9632
dropoff_latitude                               40.7778
Name: 0, dtype: object

In [10]:
data.loc[[0, 20, 30]]

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,76942C3205E17D7E7FE5A9F709D16434,25BA06A87905667AA1FE5990E33F0E2E,VTS,1,NaN,2013-01-01 00:00:00,2013-01-01 00:05:00,3,300,0.61,-73.955925,40.781887,-73.963181,40.777832
20,7257A55FFAB4C29F08A9A40F510FC2B6,E3590A87560D47E221285458CEAC02E2,CMT,1,N,2013-01-01 00:13:38,2013-01-01 00:21:57,1,498,2.50,-73.969917,40.753067,-73.988152,40.722668
30,4AAD54CD0C91388E39734502C550898E,8615458D224BDD1077E79DDB30814529,CMT,1,N,2013-01-01 00:18:33,2013-01-01 00:19:21,1,47,0.20,-73.987061,40.751896,-73.987434,40.752140

In [11]:
data.loc[1000:2000:10, ['trip_distance', 'trip_time_in_secs']]

      trip_distance  trip_time_in_secs
1000           1.00                441
1010           3.80                691
1020           0.00                  7
1030           4.20                902
1040           3.40               1278
1050           1.00                242
1060           1.48                300
1070           3.03                600
1080           0.60                135
1090           2.80                780
1100           2.62                840
1110           2.30                647
1120           1.30                360
1130           1.36                480
1140           2.90                720
1150           2.87                600
1160           2.70                491
1170           2.50                363
1180           1.11                360
1190           1.11                300
1200           0.90                240
1210           4.90                884
1220           2.84                960
1230           2.60                916
1240          17.00               2100
1250           4.00                900
1260           0.63                120
1270           4.40                773
1280           1.10                319
1290           1.42                240
...             ...                ...
1710           1.00                240
1720           1.30                388
1730           0.31                120
1740           2.80                423
1750           1.60                591
1760           1.24                300
1770           1.80                457
1780           4.47               1320
1790           3.50                627
1800           0.80                196
1810           2.86                420
1820           1.02                180
1830           4.59                840
1840           1.79                240
1850           0.33                120
1860           1.50                355
1870           0.97                360
1880           0.96                240
1890           1.39                300
1900           0.60                204
1910           1.40                901
1920           1.65                480
1930           2.75                660
1940           0.90                248
1950           1.33                420
1960           7.70                883
1970           2.71                660
1980           2.30                360
1990           0.13                 60
2000           9.60                963

[101 rows x 2 columns]

In [12]:
data.loc[data.trip_distance > 50]

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
1853,DA2A0A9EBD9AFD25013CF83805B61D6D,A3BCE60F48302B63C4B7AAE443960704,CMT,1,N,2013-01-01 21:41:03,2013-01-01 21:56:37,1,934,52.20,-73.979576,40.743626,-73.941902,40.807281
6316,6BD1B641A1CD55803A21560299B985A7,A33DB5A909ADBFCE2AB057264141C8E9,CMT,1,N,2013-01-04 06:44:21,2013-01-04 07:17:14,1,1973,96.30,-73.959785,40.762497,-73.962440,40.662910
8683,E95D27A43DC7A5F0C015409386BB49DB,8A6EB7FA7E6A3F4A50C717871C068D72,CMT,1,N,2013-01-05 01:51:08,2013-01-05 02:23:01,1,1913,52.90,-74.006119,40.735157,-73.958694,40.714905
24381,A38882246FC6439948FA470459F94134,8A60E3668580091A4BB124E9BDAFDD89,CMT,1,N,2013-01-12 03:02:55,2013-01-12 03:24:47,1,1312,66.20,-73.966873,40.683315,-73.916885,40.754852
54723,0F48C5AE255A294B4E88ECC3CED0CFC5,C92D893B061C29C152ADF42B15317C3E,CMT,5,N,2013-01-24 21:07:13,2013-01-24 21:31:44,1,1471,79.40,-73.885735,40.771580,-73.984947,40.758060
90068,7B59F6023736C5217B613D17B4ED6A9C,F2D89276E3886C6A8D27AE463637FF36,CMT,1,N,2013-02-08 01:54:21,2013-02-08 02:02:03,1,461,70.90,-73.985512,40.742313,-73.993950,40.720837
115471,FB0FAE6EABFE14F45600AD382B52EFE5,0D39DD3359634605EAC8B451295E8186,CMT,1,N,2013-02-18 19:52:08,2013-02-18 20:07:33,1,925,67.20,-73.874474,40.773975,-73.937866,40.723824
119002,A51E7B7371667690E65D88307FBBA229,3A6EDD62A2933A11545527FDE55DAC52,CMT,1,N,2013-02-20 12:20:03,2013-02-20 12:43:12,1,1389,87.90,-73.862915,40.769157,-73.973579,40.748199
134839,FA189EABBB4058AC0359AA1CF30F5313,C707B5A8C6AEF269564272AF66B37564,CMT,1,Y,2013-02-26 17:54:11,2013-02-26 18:45:03,1,3052,69.80,-73.989853,40.729340,-73.964035,40.771950
157050,C4580AE98B332B1E4B6B822B1C2D03BE,E2CB66B7D37105F7C3364DFF61E4D487,VTS,2,NaN,2013-03-07 12:34:00,2013-03-07 15:24:00,6,10200,60.14,-73.777405,40.646626,-73.982193,40.769535
201876,DBCD64B365502F85569B4A264B798AAE,D404427B22B187FE0460668FDEC9937E,CMT,1,N,2013-03-25 09:30:28,2013-03-25 10:07:32,2,2224,61.00,-73.988136,40.749702,-73.887688,40.859402
210667,BD4738379B8C2E8168F48CFFDE2F94E6,E6F2B8515FE5A32AACF884FBA21F0170,CMT,1,N,2013-03-28 23:25:31,2013-03-28 23:36:47,1,675,52.50,-73.979370,40.766933,-73.992043,40.759903
238505,4ADDFBA1E3FD055AB4854D003976F263,2B09130C92CF5199315044DFE89D6356,CMT,1,N,2013-04-09 15:10:48,2013-04-09 15:19:54,1,545,85.30,-73.979851,40.764091,-73.982155,40.777206
305690,A895384C359AABDA144AF574989DA1C3,CEEB6BCC5E4705A32043BCA2DBA78E3E,CMT,1,N,2013-05-06 12:35:03,2013-05-06 12:45:28,1,623,50.50,-73.978287,40.773117,-73.978287,40.773117
450941,849397BEC809E0CBF9FF645FE7FD96A8,BC7E6894AF102A345E3D050121FAA1F2,CMT,1,N,2013-07-09 13:51:02,2013-07-09 14:13:53,4,1371,88.00,-73.987518,40.747070,-73.870758,40.772087
504497,7237EC7ABD6114EDDC87A3AA846F8418,D52502537E2DF62C9BFFECF5A387E7E9,CMT,1,N,2013-08-02 11:22:31,2013-08-02 11:33:03,1,631,6005123.00,-73.997467,40.736397,-73.991882,40.764629
507107,50DA72F510E2F84A42712E13744FAC7B,EA9D03A766C1D32A6668FFF0C1EB4E4B,CMT,1,N,2013-08-04 18:42:17,2013-08-04 20:37:19,3,4290965,181.80,-73.978020,40.765167,-73.815041,40.730076
520570,68FADA2827FA3A1AB0FF32EC47F565EB,1E68C0830B73658C43635CAD45ECFDFA,CMT,0,N,2013-08-10 23:27:49,2013-08-10 23:27:49,1,0,57.70,-73.956726,40.767033,-73.956726,40.767033
548988,A978A0AAE9B2CFEE310FACD97A09C319,CE56A27F53ABF411094B6CD708BFBA96,CMT,1,N,2013-08-24 17:03:27,2013-08-24 17:03:29,1,1,442.00,-73.993896,40.702644,-73.993874,40.702637
558665,5A5C516A820FE476E9D3E14101B669AC,C24585AA866FC76A4E09A05F55DC7E54,CMT,2,N,2013-08-29 10:01:40,2013-08-29 11:52:20,1,6640,164.40,-73.791534,40.661026,-73.983734,40.765778
659208,E8E54922CFDFC480893C1E2021506CD4,BCCAFB9AB09496225A0FE39096FD72C0,VTS,1,NaN,2013-10-11 14:43:00,2013-10-11 16:27:00,1,6240,55.80,-73.776817,40.645065,-73.806770,40.659180
672612,9B14258B0E3EF13923996FB8537B2EA0,42834D2C6C221FDA7CDAE3AC95A981D3,VTS,2,NaN,2013-10-17 11:44:00,2013-10-17 13:58:00,5,8040,52.00,-73.790825,40.662148,-73.983200,40.745365

In [13]:
from ipywidgets import interact
@interact
def show_nrows(distance_threshold=(0,200)):
    return len(data.loc[data.trip_distance > distance_threshold])

4

In [14]:
data['trip_time_in_mins'] = data.trip_time_in_secs / 60
data[['trip_time_in_secs', 'trip_time_in_mins']].head(10)

   trip_time_in_secs  trip_time_in_mins
0                300           5.000000
1                960          16.000000
2                386           6.433333
3                  0           0.000000
4                360           6.000000
5               1620          27.000000
6                420           7.000000
7                581           9.683333
8                660          11.000000
9                625          10.416667

In [15]:
a = data.trip_distance[:5]
a

0    0.61
1    3.28
2    1.50
3    0.00
4    1.31
Name: trip_distance, dtype: float64

In [16]:
b = data.trip_distance[2:6]
b

2    1.50
3    0.00
4    1.31
5    5.81
Name: trip_distance, dtype: float64

In [17]:
a+b

0     NaN
1     NaN
2    3.00
3    0.00
4    2.62
5     NaN
Name: trip_distance, dtype: float64

In [18]:
data.medallion.head(3)

0    76942C3205E17D7E7FE5A9F709D16434
1    517C6B330DBB3F055D007B07512628B3
2    ED15611F168E41B33619C83D900FE266
Name: medallion, dtype: object

In [19]:
data.medallion.str.slice(0,4).head(10)

0    7694
1    517C
2    ED15
3    B33E
4    BD5C
5    61E5
6    36ED
7    1311
8    2246
9    939D
Name: medallion, dtype: object

In [21]:
data.pickup_datetime.dt.dayofweek[::200000]

0         1
200000    6
400000    5
600000    0
800000    1
Name: pickup_datetime, dtype: int64

In [30]:
day_p = data.pickup_datetime.dt.day
day_d = data.dropoff_datetime.dt.day
selection = (day_p != day_d)

In [32]:
print(len(data.loc[selection]))
data.loc[selection].head(5)

7716

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_time_in_mins
2005,6385CA8C99985BFBAFB477A9BDFA28C9,08A78365909D2F09BF72B869C0B21FED,VTS,1,NaN,2013-01-01 23:45:00,2013-01-02 00:03:00,1,1080,12.61,-73.873062,40.774128,-73.983597,40.721539,18.000000
2008,D932DC772B89F69D30F03FB095424F97,F5AE2E36090433DFE4142AFC19AFD495,CMT,1,N,2013-01-01 23:46:22,2013-01-02 00:28:01,1,2498,16.10,-73.781921,40.644657,-73.998512,40.660194,41.633333
2010,33BB4B9DBFD87B7522909FEEB84896F4,412253C6258AF9DCE2D27DE714A84049,CMT,1,N,2013-01-01 23:46:53,2013-01-02 00:03:33,1,1000,5.40,-74.001274,40.725952,-73.980347,40.660503,16.666667
2013,66B35E773D495CB81C738625A33C619D,540881FB05E698CCB354C51563FF34FD,CMT,1,N,2013-01-01 23:49:24,2013-01-02 00:04:37,1,912,5.30,-73.989853,40.734402,-73.973595,40.795391,15.200000
2017,810905D65B788A8EAA8E15FBE4BB92E1,4DAAB407406B1744FA866E92D612EE29,VTS,1,NaN,2013-01-01 23:57:00,2013-01-02 00:04:00,1,420,1.72,-73.969536,40.785477,-73.986252,40.766983,7.000000